body {
    background-color: #D6CBC1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    padding: 5px;
    background-color: #D6CBC1;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 75px;
    height: 75px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

h1 {
    color: #1e3c72;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.ride {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.ride:last-child {
    border-bottom: none;
}

.ride-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ride-info div {
    margin: 5px 0;
}

button {
    background-color: #1e3c72;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0F92A4;
}
